* {
    margin: 0;
    padding: 0;
}
#conteiner {
    width: 100%;
    margin: 0 auto;
}

#shapka
{
    width: 100%;
    height: 193px;
    background-image: url("shapka_div.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}